{% extends 'banner.html.twig' %}
{% block content %}

    <br>
    <div class="jumbotron text-center">
        <h1 class="display-4">Hello, {{ username }}</b>!</h1>
        <p class="lead">You have successfully logged in.</p>
        <br>
        <p class="lead"><b>Account type: {{ role }}</b></p>
        <hr class="my-4">

        <div class="btn-group justify-content-between" role="group">
            <form action="{{ action6 }}" method={{ method }}>
                <button type="submit" class="btn btn-primary">View tickets</button>
            </form>
        </div>
        <div class="btn-group justify-content-between" role="group">
            <form action="{{ action7 }}" method={{ method }}>
                <button type="submit" class="btn btn-primary">Create users</button>
            </form>
        </div>
        <div class="btn-group justify-content-between" role="group">
            <form action="{{ action8 }}" method={{ method }}>
                <button type="submit" class="btn btn-primary">Browse logs</button>
            </form>
        </div>

        <hr class="my-4">

        <p></p>

        "If cybercrime was a country, it would have the 13th highest GDP in the world." - Dr. McGuire

    </div>

{% endblock %}